<div class="card border-secondary border-secondary">
    <div class="card-header bg-secondary text-white"><i class="fa-solid fa-chart-bar"></i> {{ title }}</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">Our rent adverts since 2017<span class="badge text-bg-secondary text-white">{{ rent }}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Our sale adverts since 2017<span class="badge text-bg-secondary text-white">{{ sale }}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Our auctions since 2017<span class="badge text-bg-secondary text-white">{{ auctions }}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Our advertisers since 2017<span class="badge text-bg-secondary text-white">{{ agents }}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Our PR adverts since 2019<span class="badge text-bg-secondary text-white">{{ prs }}</span></li>
    </ul>
</div>
